html {
  overflow: hidden;
}
body {
  margin: 0;
  padding: 0;
}
a {
  color: var(--el-color-primary);
}
.flex-row-space-between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.flex-row-left {
  display: flex;
  flex-direction: row;
  justify-content: left;
}
.flex-row-align-center {
  display: flex;
  flex-direction: row;
  align-items: center;
}