.markdownit {
  text-align: left;
  color: var(--el-text-color-primary);
  overflow-x: auto;
  padding: 8px 0 24px 36px;
}
.markdownit img {
  max-width: 80%;
}
.katex {
  font-size: 16px !important;
}
